.category-con {
    display: flex;
    justify-content: normal;
    overflow-x: scroll;

    gap: 3rem;
    margin-top: 4.4rem;
    padding: 1rem 2rem;
    background-color: white;
}


@media (min-width: 64rem) {
    .category-con {
        overflow-x: scroll;
        justify-content: space-between;
    }
}

.category-item {
    display: grid;
    place-items: center;
    background-color: white;
    text-align: center;
}

.category-item * {
    background-color: white;
}