.login-pop-transparent {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.login-con-pop {
    position: fixed;
    /* top:auto; */
    z-index: 10;
    display: flex;
    background-color: white;
    border: 1px transparent solid;
    border-radius: .4rem;
    box-shadow: 1px 1px 7px 4px #d5ddfc;
}

.login-con-blue {
    width: 40%;
    height: 100%;
    background-color: blue;
    color: white;
    border-radius: .4rem 0 0 .4rem;
}

.login-con-blue *,
.login-con-white * {
    background-color: transparent;
}

.img-logo-login {
    width: 100%;
    background-color: white;
    padding: 9%;
    margin: 90% 0 0 0;
}

.login-text {
    padding: 40% 10% 10% 10%;
}

.detail-p {
    text-align: center;
    text-wrap: wrap;
    font-size: .49em;
}

.login-con-white {
    width: 60%;
    height: 100%;
    padding: 6% 2% 2% 2%;
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0 .4rem .4rem 0;
    position: relative;
}

.label-email {
    font-size: .7em;
    text-align: center;
}

.input-email {
    width: 87%;
    margin: .4rem 0 0 0;
    padding:  1.2%;
    border: 1px solid black;
    font-size: 1em;
    color: black;
    /* height: max-content; */
}

.input-email:focus {
    /* all: unset; */
    border: 1px solid blue;
    text-align: center;
}

.tc-p {
    text-wrap: wrap;
    font-size: .64em;
    padding: .41rem;
}

.request-otp-btn,
.close-btn {
    background-color: white;
    color: blue;
    font-size: .7em;
    border-radius: .4rem;
    padding: .4rem;
    border: solid blue 1px;
}

.request-otp-btn:active,
.close-btn:active {
    color: white;
    background-color: blue;
}

.request-otp-btn:hover,
.close-btn:hover {
    box-shadow: 1px 1px 4px 2px #d5ddfc;

}

.newsignin-btn {
    border: 1px transparent solid;
    color: blue;
    font-size: .51em;
    padding: .4rem .1rem;
    cursor: pointer;
}

.newsignin-btn:hover {
    text-decoration: underline;
}

.close-btn {
    /* all: unset; */
    border: 1px red solid;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: .4rem;
    font-size: .9em;

    position: absolute;
    top: 0%;
    translate: -100%;
    left: 100%;
    z-index: 12;
}

.close-btn:hover {
    background-color: white;
    color: red;
}

@media screen and (max-width:160rem) {
    .login-con-pop {
        height: 27rem;
        width: 27rem;
        font-size: 1.6rem;
    }

    .close-btn {
        padding: .2rem;
        height: 2rem;
        width: 2rem;
    }
}

@media screen and (max-width:48rem) {
    .login-con-pop {
        height: 20rem;
        width: 20rem;
        font-size: 1.2rem;
    }

    .close-btn {
        padding: 0rem;
        height: 1.4rem;
        width: 1.4rem;
    }
}

@media screen and (max-width: 30rem) {
    .login-con-pop {
        height: 16rem;
        width: 16rem;
        font-size: 1rem;
    }

    .close-btn {
        padding: 0rem;
        height: 1.4rem;
        width: 1.4rem;
    }
}