.bestSell-con {
    display: grid;
    width: 100%;
    padding: .4rem .4rem .1rem .4rem;
    background-color: white;
    height: min-content;
}

.bestSell-title-con {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.bestSell-title-con button {
    all: unset;
    border: 1px transparent solid;
    border-radius: 1rem;
    margin: .4rem;
    text-align: center;
    background-color: blue;
    color: white;
    width: 2rem;
}

.bestSell-img-con {
    display: flex;
    gap: .4rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: white;
}

.bestSell-img-ind {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: white;
    height: fit-content;
    border: 1px rgb(196, 196, 255) solid;

}

.bestSell-img-ind-img {
    width: 14rem;
    height: 14rem;
    background-color: white;
}

.bestSell-img-ind-img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-color: white;
}

.bestSell-img-ind-title {
    padding: .4rem;
    background-color: white;
}

bestSell-title-con h4 {
    background-color: white;
    padding: .61rem;
}

@media screen and (max-width:160rem) {
    .bestSell-img-ind-img {
        width: 14rem;
        height: 14rem;
    }
}

@media screen and (max-width:48rem) {
    .bestSell-img-ind-img {
        width: 9rem;
        height: 9rem;
    }
}

@media screen and (max-width:30rem) {
    .bestSell-img-ind-img {
        width: 7rem;
        height: 7rem;
    }
}