.menu-dd {
    display: grid;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: .4rem;
    box-shadow: 1px 1px 7px 4px #d5ddfc;
    position: absolute;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    /* width: 9rem; */
    font-size: 1em;
    border: transparent;
}

.menu-dd-item:hover {
    background-color: rgb(236, 236, 252);
}

.theme-out {
    width: 2.6rem;
    height: 1.4rem;
    border: blue 2px solid;
    border-radius: 10.9px;
    position: relative;
    transition: 600ms ease-in-out;
}

.dot {
    position: absolute;
    transition: 90ms ease-in-out;
}

.N{
    padding: .6rem 1.4rem;

}

@media screen and (max-width:160rem){
    .menu-dd{
        font-size: 1.2rem;
        top: 2.6rem;
        left: -6.4rem;
    }
    .menu-dd-item{
        padding: .6rem 1.4rem;
    }
}
@media screen and (max-width:48rem){
    .menu-dd{
        font-size: 1rem;
        top: 1.7rem;
        left: -6rem;
    }
    .menu-dd-item{
        padding: .4rem 1.2rem;
    }
}
@media screen and (max-width:30rem){
    .menu-dd{
        font-size: .9rem;
        top: 1.7rem;
        left: -6rem;
    }
    .menu-dd-item{
        padding: .26rem .7rem;
    }
}